/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# Document Root
www/

docker-compose/nginx/localhost.crt
docker-compose/nginx/localhost.csr
docker-compose/nginx/localhost.key
ssl/LocalRootCA.key
ssl/LocalRootCA.crt
ssl/LocalRootCA.pem
ssl/LocalRootCA.srl
/data.ms/
/.idea/
